body {
    background-color: #f8f8ff;
}
h1 {
    color: blue; text-align: center;
}
ul {
    list-style-type: none; margin: 0; padding: 0; overflow: hidden; background-color: gray;
    position: -webkit-sticky;
  position: sticky;
  top: 0;
}
li {
    float: left;
}
li a {
    display: block; color: white; text-align: center; padding: 16px; text-decoration: none;
}
li a:hover {
    background-color: black;
}
/* table {
    border: 2px ; width: 500px; height: 300px; align: center;
} */
div.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
}
.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
 }